.result-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0px - 15px;
}

.result-card .result {
    width: 33.333%;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.result-card .result img {
    display: block;
    width: 100%;

}

.result-card .result h3 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    background: #445565;
    flex: 1 1 1px;
    transition: 0.4s ease-out;
}

.result-card .result:hover h3 {
    background-color: #FFF;
    color: #223343;
}