.search-box-wrapper {
  display: block;
  width: 100%;

  border: none;
  outline: none;
  background: none;

  background-color: #eee;
  border-radius: 8px;
  color: #53565a;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}
input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.search-box-wrapper:focus {
    box-shadow: 0px 0px 8px 3px #4484C4;
}

section {
    padding: 15px;
  }
